.travel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: auto;
  padding-bottom: 20px;
  /* background-image: radial-gradient(circle, #2e2c2c, #282626); */
}
.travel-form {
  display: flex ;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 20px;
  color: white;
  background-image: radial-gradient(circle, #2e2c2c, #282626); ;    
}
.travel-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.travel-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.travel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: coral;
  color: white;
  /* color: #282626; */
  font-size: 16px;
  cursor: pointer;
}